/* * * * * * * * * * * * * * * * * *
*      CSS by KENIP 2017/01/26     *
* * * * * * * * * * * * * * * * *  */

*{
	margin:0;
	padding:0;
}
body {
    
}
    
@font-face {
        font-family: myFont;
        src:url('../font/Raleway-Light.ttf'),
            url('../font/raleway-light-webfont.eot'),
            url('../font/raleway-light-webfont.woff'),
            url('../font/raleway-light-webfont#webfont');
    }

@font-face {
        font-family: blogfont;
      src:url('../blog/font/msjh.ttf'),
            url('../blog/font/msjh.eot'),
    url('../blog/font/MicrosoftJhengHeiRegular.woff'),
            url('../blog/font/MicrosoftJhengHeiRegular-webfont#webfont');
    }

#detail{
    margin-bottom: 70px;
    margin-top: 80px;
}

#detail_main{
    border: 0px solid #fff;
    letter-spacing: 0.5px;
    width:1100px;
    margin-left: auto;
    margin-right: auto;
}

#community_toppest{
    font-family: myfont;
    color:#fff;
    margin-bottom: 15px;
    margin-top: -80px;
}

#blog_header{
    
}

#blog_header img {
    width:1100px;
    height: auto;
    border: 1px solid #999;
}

#community_toppest_title{
    font-size:35px;
    margin-bottom: 5px;
}

#community_toppest_desc{
    font-size:18px;
}

#topbox_container{
    margin-bottom: 120px;
    width: 950px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#community_topbox1{
    height: 23px;
    width:900px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 150px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    background-image:linear-gradient(rgba(253,253,253,0.9),rgba(194,221,231,0.9));
    box-shadow:2px 2px 12px 1px rgba(149,212,212,0.5);
}


#support{
    font-family: myfont;
    font-size:22px;
    text-shadow: 1px 1px #fff;
    margin-left: 20px;
}

#support img{
    float: right;
    width: 40px;
    height: auto;
    margin-top: -10px;
}

#support_detail{
    font-family: blogfont;
    line-height: 22px;
    margin-top: -33px;
    width:1058px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 20px;
    background-image:linear-gradient(rgba(255,255,255,0.9),rgba(221,217,234,0.9));
    box-shadow:1px 1px rgba(217,234,234,0.5);
    margin-bottom: 80px;
    font-size:17px;
    text-shadow: 0px 1px rgba(255,255,255,0.6);
}

#support_detail b{
    font-size:21px;
}

#support_detail img{
    width:500px;
    height: auto;
}

#intro {
    text-align: center;
    font-size:19px;
}

#intro img{
    width:500px;
    height: auto;
}

#intro_inline {
    display: inline-block;
    font-size:19px;
}

#intro_inline img{
    width:auto;
    height: 180px;
    margin-right: 20px;
    margin-top: 15px;
}

#intro_inline_gallery{
    text-align: center;
}

#mechanism{
    margin-left: 40px;
}

#mechanism li{
    margin-top: 10px;
}

#mechanism li img{
    width:25px;
    height: auto;
}

#definition{
    margin-left: 40px;
}

#design img{
    text-align: center;
    width:280px;
    height: auto;
}

#design{
    text-align: center
}

#design img{
    width:390px;
    height: auto;
}

#mana-center{
    text-align: center;
}

#program{
    margin-top: 10px;
}

#program pre{
    font-size:15px;
    padding: 10px;
    font-family:  "Courier New";
    border: 1px solid #000;
    color: #fff;
    background: #000;
}

#community_topbox2{
    height: 50px;
    width:900px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    background-image:linear-gradient(rgba(147,120,201,0.9),rgba(138,112,191,0.9));
    box-shadow:2px 2px 12px 1px rgba(149,212,212,0.5);
    
}

#community_topbox2 a{
    text-decoration: none;
    color:#000;
}

#category,#community,#store{
    width:200px;
    font-family: blogfont;
    font-size:15px;
    margin-left: 5px;
    border-radius: 5px;
    padding:6px;
    background-color: #fff;
    transition: all .4s;
    display: inline-block;
    text-align: center;
    color:#000;
    text-transform: uppercase;
}


#category:hover,#community:hover,#store:hover{
    background-color: #9AC1C9;
    color:#fff;
}

#backtop{
    text-align: right;
}

#backtop img{
    width:50px;
    height: auto;
    cursor: pointer;
}

#backpage img{
    float: right;
    width:40px;
    height: auto;
}

/*************************************/

#nav ul li{
    list-style: none;
    display: inline-block;
}

#nav {
}

#wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#main {
	width: 100%;
	padding: 50px 50px 1px 50px;
	box-sizing: border-box;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: .5s ease all;
	-moz-transition: .5s ease all;
	-o-transition: .5s ease all;
	transition: .5s ease all;
}
#main-nav {
	height: 60px;
    margin-left: 100px;
}


#off-canvas-menu {
	text-decoration: none;
	color: #fff;
	text-indent: 1.2em;
	font-size: 30px;
	display: block;
	line-height: 1;
	position: relative;
    font-family: myfont;
    padding-bottom: 10px;
    
}

#off-canvas-menu:hover{
    color: rgba(222,222,222,0.7);
}

#off-canvas-menu::after {
	content: '';
	position: absolute;
	left: 0;
	top: -4px;
	width: .75em;
	box-shadow: 0 10px 0 2px #fff, 0 20px 0 2px #fff, 0 30px 0 2px #fff;
}

#side-nav {
	width: 220px;
	height: 100%;
	background: #444;
	position: absolute;
	top: 0;
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	transform: translateX(-300px);
	-webkit-transition: .5s ease all;
	-moz-transition: .5s ease all;
	-o-transition: .5s ease all;
	transition: .5s ease all;
    font-family: blogfont;
}
#main.off-display {
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-ms-transform: translateX(100px);
	-o-transform: translateX(100px);
	transform: translateX(100px);
}
#side-nav.off-display {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}
#side-nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
#side-nav li {
	line-height: 40px;
    margin-top: 2px;
	list-style-type: none;
	color: #aaa;
}
#side-nav li::before {
	font-family: 'icon-font';
	font-size: .85em;
	margin-right: 20px;
}

#close-slide-nav {
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	display: block;
	text-align: right;
	margin: 40px 20px 40px 20px;
    text-shadow: 1px 1px #000;
}
#close-slide-nav::before {
	font-size: .85em;
    font-family: myfont;
}

/*************************************/

#star{
    width:10px;
    height: auto;
}

#toptop{
    opacity: 0;
}

#toptop img{
    position: fixed;
    width:50px;
    height: auto;
    right: 0;
    bottom:0;
    z-index:1;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
}












