/* * * * * * * * * * * * * * * * * *
*      CSS by KENIP 2017/02/11     *
* * * * * * * * * * * * * * * * *  */

@charset "utf-8";

*{
	margin:0;
	padding:0;
}
body {
    font-family: myFont;
    background: url(../images/manawall.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;　
    background-size: cover;

}

@font-face {
        font-family: myFont;
        src:url('../font/Raleway-Light.ttf'),
            url('../font/raleway-light-webfont.eot'),
            url('../font/raleway-light-webfont.woff'),
            url('../font/raleway-light-webfont#webfont');
    }

@font-face {
        font-family: narrow;
        src:url('../font/ArialNarrow.ttf'),
            url('../font/ArialNarrow.eot'),
            url('../font/ArialNarrow.woff'),
            url('../font/ArialNarrow-webfont#webfont');
}

@font-face {
        font-family: tech;
        src:url('../font/Digitaltech.ttf'),
            url('../font/Digitaltech.eot'),
            url('../font/Digitaltech.woff'),
            url('../font/Digitaltech#webfont');
    }

#detail{
    width:100%;
    text-align: center;
    position: absolute;
    top: 50%;
    min-height:140px;
    margin-top:-350px;
}

#detail h3{
    font-family: tech;
    color: #000;
    font-size:40px;
    letter-spacing: 1px;
}

#community_main img{
    width:40px;
    height: auto;
    float: right;
}

#community_main{
    padding: 75px 150px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.8);
    margin-top: 25px;
}

#post_form{
    text-align: center;
    font-size:23px;
    margin-top: 25px;
}

#post_form [type="text"]{
    height: 25px;
    width:400px;
}

#post_form textarea{
    width:500px;
    height: 250px;
    resize:none;
}

#post_form [type="submit"],#post_form [type="reset"]{
    border-radius: 10px;
    background-color: #00A2D1;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 8px 23px 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: all .5s;
    margin-left: 30px;
    font-size:16px;
}

#post_form [type="submit"]:hover,#post_form [type="reset"]:hover{
    background-color: #24C0ED;
}

/********************************/

.responstable2 {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
    margin-top: 20px;
}
.responstable2 tr {
    border: 1px solid #D9E4E6;
}
.responstable2 tr:nth-child(odd) {
    background-color: #EAF3F3;
}
.responstable2 th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}
.responstable2 th:first-child {
    display: table-cell;
    text-align: center;
    width:3%;
}
.responstable2 th:nth-child(2) {
    display: table-cell;
    width:1px;
}

.responstable2 td:nth-child(2) {
    text-align: center;
}

.responstable2 th:nth-child(2) span {
    display: none;
}
.responstable2 th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable2 th:nth-child(2) span {
    display: block;
  }
  .responstable2 th:nth-child(2):after {
    display: none;
  }
}
.responstable2 td {
    display: block;
    word-wrap: break-word;
}
.responstable2 td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable2 td {
    border: 1px solid #D9E4E6;
  }
}
.responstable2 th, .responstable2 td {
  text-align: left;
    margin: .5em 1em;
}
@media (min-width: 180px) {
  .responstable2 th, .responstable2 td {
    display: table-cell;
    padding: 5px;
  }
}

#manatime{
    font-size: 15px;
    font-family: Cambria,Georgia,serif;
}

#status{
    line-height: 31px;
}

#deleteform{
    text-align: center;
}

#deleteform [type="submit"]{
    border-radius: 10px;
    background-color: #00A2D1;
    border: 0;
    color: white;
    padding: 4px 12px 4px;
    cursor: pointer;
    transition: all .5s;
    font-size:14px;
}








